@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700&display=swap');
.largeTitleHeader {
    font-size: 4.5em;
    word-break: keep-all;
    font-family: 'Julius Sans One', sans-serif;
    margin: 0;
    letter-spacing: -4px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 0;
}
/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Open Sans', sans-serif; */